/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.wy-table-responsive code {
    font-size: 0.85em;
}

.wy-nav-content {
    /* max-width: none !important; */ /* For full width */
    max-width: 1000px !important;
}
