name: GPU collectors

on:
  workflow_dispatch:
  push:
    branches:
      - ci3

jobs:
  gpu-collectors-325:
    runs-on: [linux-mi325-1gpu-ossci-rocm]
    steps:

      - name: Interrogate
        run: |
          cat /etc/podinfo/gha-gpu-isolation-settings
          lspci | grep Instinct
          ls -l /sys/class/drm/renderD1*/device
          rocm-smi
          which python3
          which git
          whoami
          amd-smi version
          cat /etc/os-release
          printenv
          ls -l /sys/class/kfd/kfd/topology/nodes/*/gpu_id
          amd-smi metric -k
          id
