name: GPU collectors MI325

on:
  workflow_dispatch:
  push:
    branches:
      - ci

jobs:
  gpu-collectors-325:
    runs-on: [linux-mi325-1gpu-ossci-rocm]
    container:
      image: rocm/dev-ubuntu-24.04:6.4.4
      options: 
        --ipc host
        --group-add video
        --device /dev/kfd
        --device /dev/dri/renderD128
    defaults:
      run:
        shell: bash
    steps:

      - name: Host software
        run: |
          sudo apt-get update -y
          sudo apt install git -y
          sudo apt install python3-venv -y

      - name: Interrogate
        run: |
          rocm-smi
          which python3
          amd-smi version
          cat /etc/os-release

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update git directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Create virtual environment
        run: |
          python3 -m venv --system-site-packages omnistat_venv
          source omnistat_venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r test/requirements.txt
          
      - name: Collector tests
        run: |
          source omnistat_venv/bin/activate
          pytest -s -v --junitxml=results.xml test/test_collectors.py

##       - name: Test Report
##         uses: dorny/test-reporter@v2
##         if: ${{ !cancelled() }}
##         with:
##           name: GPU Collectors
##           reporter: jest-junit
##           path: results.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: ${{ !cancelled() }}
        with:
          include_passed: 'true'
          report_paths: 'results.xml'
          check_name: "Collector Tests (mi325)"
          comment: 'true'
