name: GPU collectors

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"    # every 6 hours

  pull_request:
    branches: [ main, dev ]      

jobs:
  gpu-collectors:
    runs-on: [self-hosted, instinct]
    strategy:
      matrix:
        hardware: [mi210, mi300]
      fail-fast: false
    steps:
      - name: Setup hardware-specific run details
        run: |
           if [ ${{ matrix.hardware }} == "mi210" ];then
              echo "CI_QUEUE=devel" >> $GITHUB_ENV
           elif [ ${{ matrix.hardware }} == "mi300" ];then
              echo "CI_QUEUE=mi3001x" >> $GITHUB_ENV
           else
              echo "Unsupported hardware"
              exit 1
           fi
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create virtual environment
        run: |
          python -m venv omnistat_venv
          source omnistat_venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r test/requirements.txt

      - name: Collector tests
        run: |
          source omnistat_venv/bin/activate
          srun -N 1 -J omnistat -p $CI_QUEUE -t 00:10:00 pytest -v --junitxml=results.xml test/test_collectors.py

##       - name: Test Report
##         uses: dorny/test-reporter@v2
##         if: ${{ !cancelled() }}
##         with:
##           name: GPU Collectors
##           reporter: jest-junit 
##           path: results.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        with:
          include_passed: 'true'
          report_paths: 'results.xml'
          check_name: "Collector Tests (${{ matrix.hardware }})"
          comment: 'true'

